$name: 'title';

.#{$name} {
    &--h1,
    &--h2,
    &--h3,
    &--h4,
    &--h5,
    &--h6 {
        line-height: 1;
        margin: 0;
        color: $color-primary;
    }

    &--h1 {
        font-size: 32px;
    }

    &--h2 {
        font-size: 28px;
    }

    &--h3 {
        font-size: 26px;
    }

    &--h4 {
        font-size: 24px;
    }

    &--h5,
    &--h6 {
        font-size: 20px;
    }

    &--invert {
        color: $color-secondary;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}
